td.details-control {
    background: url('../../../guruable/plugins/images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../../../guruable/plugins/images/details_close.png') no-repeat center center;
}

table {
    /*table-layout:fixed;*/
    /*width: 98% !important; */
    /*table-layout:fixed;*/
}
th {  font-size: 13px; }
td {  font-size: 13px; }

/*.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}*/

.tableFixHead          { overflow-y: auto; height: 250px; }
.tableFixHead thead th { position: sticky; top: 0; }



/******   08/07/2019   **********/

/*******************************/

/*.dataTables_scrollHeadInner{
    margin-left: 0px;
    width: 100% !important;
    position: fixed;
    display: block;
    overflow: hidden;
    margin-right: 30px;
    background: white;
    z-index: 1000;
}*/
 
/*.dataTables_scrollBody{
    padding-top: 60px;
}*/

/*table.datatable.dataTable.no-footer.fixedHeader-floating {
top: 0px;
width: 100% !important;
display: block;
overflow-x: auto;
}*/

/*th, td { white-space: nowrap; }*/
/*div.dataTables_wrapper {
    margin: 0 auto;
} */

/*table.dataTable,
table.dataTable th,
table.dataTable td {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}*/

